body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh; /* Altura total de la pantalla */
    margin: 0;
    font-family: 'Outfit', sans-serif;
    text-align: center;

    display: flex; /* Convertir el body en contenedor flex */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */

    flex-direction: column;

    position: relative;
}

.container {

    position: relative;
    top: -30px;

    display: flex;

    flex-direction: column;

    justify-content:space-around;

    align-items: center;

    box-sizing: border-box;

    flex-wrap: wrap;

    background-color: white;

    width: 280px;

    padding: 15px ;
   
    border-radius: 20px ;

}

img {
    
    width: 250px;
    border-radius: 10px ;
}

section > *{
    width: 240px;
}

footer{
    position:absolute;
    bottom: 10px;
}

p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.68);
}


